Language: Cpp
BasedOnStyle: Webkit

ColumnLimit: 120
SpacesBeforeTrailingComments: 3

DerivePointerAlignment: false
PointerAlignment: Right
SpaceAfterCStyleCast: true
SortIncludes: false

AllowShortCaseLabelsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: true
AllowShortFunctionsOnASingleLine: Empty

AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
AlignTrailingComments: true
AlignOperands: true
AlignConsecutiveMacros: true
